---
title: Work
layout: work
---
{% for post in site.posts %}
  {% if post.complete == true %}
  <article>
    <div class="meta">
      <!-- <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3> -->
      <h3>{{ post.title }}</h3>
      <h6>{{ post.category }}</h6>
      <h6>{{ post.time }}</h6>
      <h6>{{ post.location }}</h6>
    </div>
    <div class="slider-container">
      <div id="project-{{forloop.index}}" class="image-slider">
        {% assign base = "/assets/images" %}
        {% for items in post.images %}
            <img src="{{ base | relative_url }}/{{ post.images[forloop.index0] }}">
        {% endfor %}
      </div>
    </div>
  </article>
  {% endif %}
{% endfor %}
<hr>
<h4>Other Projects</h4>
{% for post in site.posts %}
  {% if post.complete == false %}
  <article>
    <div class="meta">
      <h3>{{ post.title }}</h3>
      <h6>{{ post.category }}</h6>
      <h6>{{ post.time }}</h6>
      <h6>{{ post.location }}</h6>
    </div>
  </article>
  {% endif %}
{% endfor %}